/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

#page-title {
  display: none;
}

#zone-menu-wrapper {
  display: none;
}

body, #page {
  background: #212121;
  height: 100%; width: 100%;
}

.account strong { color: #9ae200;}

.front .block-boxes .block-title {
  display: none;
}

/*..........footer..............*/
#zone-footer-wrapper {
  background: #1b1b1b;
  margin-top: 20px;
}

#zone-footer-wrapper .boxes-box-content {
  color: #5e5e5e;
  float: right;
  font-size: 11px;
  padding: 20px 0;
}

.boxes-box-content span {
  display: inline-block;
  font-size: 15px;
  height: 20px;
  vertical-align: bottom;
}

.typekit-badge {
  display: none !important;
}