/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

#page-title {
  display: none;
}

#zone-menu-wrapper {
  display: none;
}

body, #page {
  background: #212121;
  height: 100%; width: 100%;
}

.account strong { color: #9ae200;}

.front .block-boxes .block-title {
  display: none;
}

/*..........footer..............*/
#zone-footer-wrapper {
  background: #1b1b1b;
  margin-top: 20px;
}

#zone-footer-wrapper .boxes-box-content {
  color: #5e5e5e;
  float: right;
  font-size: 11px;
  padding: 20px 0;
}

.boxes-box-content span {
  display: inline-block;
  font-size: 15px;
  height: 20px;
  vertical-align: bottom;
}

.typekit-badge {
  display: none !important;
}

#section-content {
  min-height: 400px;
}

/*............colour picker.............*/
.square {
  display: block;
  float: left;
  margin: 0px 2px;
  width: 35px; height: 35px;
}

.tab {
  display: inline-block;
  overflow: hidden;
  padding: 5px 3px;
}

/*beiges*/
#beiges {
  background: #fffdf8;
}

#off-white { background:#eeeddd; cursor: pointer;}
#smooth-cream { background:#f1e1b1; cursor: pointer;}
#gull-grey { background:#c3c3b2; cursor: pointer;}
#birch-grey { background:#b8b09b; cursor: pointer;}
#beige { background:#9f8e70; cursor: pointer;}
#brushwood { background:#827561; cursor: pointer;}
#mocha { background:#56442d; cursor: pointer;}

/*oranges*/
#oranges {
  background: #f5d9c3;
}

#pale-terracotta { background:#cb986f; cursor: pointer;}
#arizona { background:#bd6a43; cursor: pointer;}
#amber { background:#b96a42; cursor: pointer;}
#peach { background:#a86848; cursor: pointer;}
#riverclay { background:#a44a28; cursor: pointer;}
#terracotta { background:#9c421e; cursor: pointer;}
#desert-clay { background:#7d381a; cursor: pointer;}

/*reds*/
#reds {
  background: #e9c4c0;
}

#homestead { background: #873227; cursor: pointer;}
#tuscan-red { background: #802916; cursor: pointer;}
#autumn {background: #791f13; cursor: pointer;}
#rich-red {background: #57180d; cursor: pointer;}
#burgundy {background: #50160f; cursor: pointer;} 
#rust {background: #47100f; cursor: pointer;}
#deep-burgundy {background: #23080c; cursor: pointer;}

/*greens*/
#greens {
  background: #ced4ca;
}

#light-rivergum {background: #7a8a70; cursor: pointer;}
#mist-green {background: #6a714f; cursor: pointer;}
#cobble {background: #4e504a; cursor: pointer;}
#rivergum {background: #47533d; cursor: pointer;}
#gum-tree {background: #424e3e; cursor: pointer;}
#brunswick-green {background: #11230f; cursor: pointer;}

/*blues*/
#blues {
  background: #c0cbd5;
}

#mountain-blue {background: #1e2d3b; cursor: pointer;}
#bluestone {background: #161720; cursor: pointer;}

/*greys*/
#greys {
  background: #c2c2c2;
}

#ghost-gum {background: #73726e; cursor: pointer;}
#bendigo-grey {background: #47484c; cursor: pointer;}
#slate-grey {background: #383735; cursor: pointer;}
#charcoal {background: #262324; cursor: pointer;} 
#dark-charcoal {background: #141213; cursor: pointer;}
#black {background: #0a0203; cursor: pointer;}

/*browns*/
#browns {
  background: #b4a79b;
}

#smokebush {background: #866f5a; cursor: pointer;}
#valley-brown {background: #7d4726; cursor: pointer;}
#homebush {background: #4c311e; cursor: pointer;}
#tan {background: #4c200f; cursor: pointer;}
#chocolate {background: #2e120a; cursor: pointer;}
#dark-brown {background: #1e0e07; cursor: pointer;}
#manganese {background: #000000; cursor: pointer;}

/*......colour picker intro box ..................*/
#page #block-boxes-colour-picker-intro-box { 
  background: #313131 url(../images/colour_picker_intro.png) no-repeat bottom left;
  margin-top: 20px;
  padding: 20px;
  width: auto;
}

#page .button {
  background: #525252;
  color: #ededed;
  float: right;
  text-decoration: none;
}

#page .button:hover {
  background: #606060;
}

#boxes-box-colour_picker_intro_box p {
  clear: right;
  margin: 0;
  margin-bottom: 40px;
  margin: 0 5px 40px 35px;
}

#page #color-picker-head {
  height: auto;
  margin: 0;
  margin-bottom: 8px;
}

#page #color-picker-head-2 span {
  font-size: 44px;
  margin: 0;
  margin-bottom: 8px;
}

#page #color-picker-head-2 {
  height: auto;
}

#page #color-picker-head-3 {
  float: right;
  height: auto;
  margin: 0;
  margin-bottom: 8px;
}

#page #color-picker-head-2 #two,
#page #color-picker-head-2 #three,
#page #color-picker-head-2 #four,
#page #color-picker-head-2 #five,
#page #color-picker-head-2 #six {
  margin-left: -8px;
}

#page #color-picker-head-2 #one {
  color: #cb1d00;
}

#page #color-picker-head-2 #two {
  color: #f65100;
}

#page #color-picker-head-2 #three {
  color: #ff7829;
}

#page #color-picker-head-2 #four {
  color: #ffa93a;
}

#page #color-picker-head-2 #five {
  color: #ffd23a;
}

#page #color-picker-head-2 #six {
  color: #bad218;
}

/*..........main image.............*/
.image { display: none; }

#roof-brunswick-green { display: block; }

#main-image {
  background: #272727;
  padding: 20px;
  margin-bottom: 20px;
}

#boxes-box-colour_picker p {
  margin-bottom: 0;
  margin-top: -5px;
}

#section-content #color-title {
  margin: 0;
  margin-top: 20px;
}

/** PAGINATON**/
.item-list {
  overflow: hidden;
}

.pager {
  background: none;
  border: none;
  float: right;
}

#page ul.pager li {
  background: #2f2f2f;
  border: none;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}

#page .pager li a {
  background: none;
  font-size: 14px;
  color: #575757;
}

.pager li.pager-previous,
.pager li.pager-next,
.pager li.pager-last,
.pager li.pager-first  {
  display: none;
}

#page .pager li.pager-current {
  background: #F07E1E;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius:0;
}

.pager li.pager-next a,
.pager li.pager-last a  {
  color: #ba1318;
}
