.front .block-boxes h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  height: 50px;
  margin-bottom: 8px;
}

.front #block-system-main {
  width: 700px;
}

.front #region-postscript-fourth {
  margin-top: -114px;
}

.front .block-boxes img {
  margin-bottom: 15px;
}

.front #block-system-main h2 {
  color: #f07e1e;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.01em;
  margin-bottom: 0;
  text-transform: none;
}