h1 { 
  color: #fff; 
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  line-height: 50px;
}

h2 { 
  color: #fff; 
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  line-height: 50px;
  
}

p {
  color:#818181;
  font-size: 12px;
  line-height: 19px;
}