/*......giant font......*/
#section-content h2, #section-content h1 {
  color: #fff; 
  font-size: 47px;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: normal;
}

#section-content h2, #section-content h1 {
  line-height: 47px;
  margin-bottom: 13px;
}

/*.....second biggest font.....*/
#section-content .block-webform h2,
.front #section-content .block-boxes h2,
#section-content .view-services-listing h2,
.view-employee-listing .views-field-title span,
.view-services-listing h2 a,
#section-content #color-title,
#boxes-box-colour_picker h2  {
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}

#section-content .content {
  color: white;
}

#section-content p,
.page-contact-us #block-boxes-service-map li {
  color:#818181;
  font-size: 12px;
  line-height: 21px;
}

#section-content label {
  color: #b7b7b7;
  font-weight: normal;
}

.small-orange,
.small-orange a {
  color: #f07e1e;
  text-decoration: none;
}

#boxes-box-colour_picker p {
  color: #fff;
}

/*profile pages*/
#section-content h3 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 0.05em;
}

#section-content .user-profile-item {
  color: #818181;
}

